<a href="https://colab.research.google.com/github/Yash2019-ystg/movie-recommendation-system/blob/main/movie_recommendation_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files                     #uploading cse file 
uploaded = files.upload()

Saving new_movie_metadata.csv to new_movie_metadata.csv

In [ ]:
import io
import pandas as pd
import numpy as np
df = pd.read_csv(io.BytesIO(uploaded['new_movie_metadata.csv']))
df.head(20)
df.pop(	"Unnamed: 0")
df.head(20)

           director_name  ...                                            combine
0         John Blanchard  ...  John Blanchard Martin Short Andrea Martin Joe ...
1         Frank Darabont  ...  Frank Darabont Morgan Freeman Jeffrey DeMunn B...
2   Francis Ford Coppola  ...  Francis Ford Coppola Al Pacino Marlon Brando R...
3         John Stockwell  ...  John Stockwell Matthew Ziff T.J. Storm Sam Med...
4                unknown  ...  unknown Krystyna Janda Olaf Lubaszenko Olgierd...
5                unknown  ...  unknown Krystyna Janda Olaf Lubaszenko Olgierd...
6      Christopher Nolan  ...  Christopher Nolan Christian Bale Heath Ledger ...
7   Francis Ford Coppola  ...  Francis Ford Coppola Robert De Niro Al Pacino ...
8                unknown  ...  unknown Kirsten Dunst Adam Goldberg Oliver Pla...
9          Peter Jackson  ...  Peter Jackson Orlando Bloom Billy Boyd Bernard...
10          Sidney Lumet  ...  Sidney Lumet Jack Warden Lee J. Cobb John Fied...
11          Sergio Leone  ...  Sergio Leone Clint Eastwood Luigi Pistilli Enz...
12     Quentin Tarantino  ...  Quentin Tarantino Bruce Willis Eric Stoltz Phi...
13      Steven Spielberg  ...  Steven Spielberg Liam Neeson Embeth Davidtz Ca...
14         David Fincher  ...  David Fincher Brad Pitt Meat Loaf Eugenie Bond...
15       Robert Zemeckis  ...  Robert Zemeckis Tom Hanks Siobhan Fallon Hogan...
16         Peter Jackson  ...  Peter Jackson Christopher Lee Orlando Bloom Bi...
17        Irvin Kershner  ...  Irvin Kershner Harrison Ford Kenny Baker Antho...
18     Christopher Nolan  ...  Christopher Nolan Leonardo DiCaprio Tom Hardy ...
19               unknown  ...  unknown Rob McElhenney Kaitlin Olson Glenn How...

[20 rows x 8 columns]

In [ ]:
df['imdb_score'] = df['imdb_score'].astype(str).str.strip()
type(df['imdb_score'][0])

str

In [ ]:
df['movie_title'] = df['movie_title'].str.strip()  #some dataprocessing to remove the whitespaces
df['combine'] = df['combine'].str.strip()
df['combine'] = df['combine']+' '+df['imdb_score']
df['combine'][0]

'John Blanchard Martin Short Andrea Martin Joe Flaherty Comedy towering inferno 9.5'

In [ ]:
#com= df.pivot_table(index=None,columns='movie_title',aggfunc='first',values='combine')
#com

In [ ]:
#sim_com = com.corrwith(com['zombieland'])
#sim_com

In [ ]:
#corr_com = pd.DataFrame(sim_com,columns = ['correlation'])
#corr_com.head()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combine"])
cosine_sim = cosine_similarity(count_matrix)     #used for checking simililarity between dataset by making vector
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.06726728, 0.07412493,
        0.        ],
       [0.        , 1.        , 0.23076923, ..., 0.06726728, 0.        ,
        0.        ],
       [0.        , 0.23076923, 1.        , ..., 0.06726728, 0.        ,
        0.        ],
       ...,
       [0.06726728, 0.06726728, 0.06726728, ..., 1.        , 0.19446112,
        0.        ],
       [0.07412493, 0.        , 0.        , ..., 0.19446112, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
a = input('enter a movie').strip()
f = df[df.movie_title==a].index.values[0]

enter a moviepulp fiction

In [ ]:
df1 = pd.DataFrame (cosine_sim[f], columns = ['similarity'])
k = list(range(0,5043))
df1['index'] = k
df1=df1.sort_values('similarity',ascending=False,ignore_index=True)
df1.head(11)

    similarity  index
0     1.000000     12
1     0.420084     76
2     0.320256   2356
3     0.308607   2391
4     0.308607   2633
5     0.308607   3450
6     0.308607   3365
7     0.298142    503
8     0.298142    426
9     0.298142   2365
10    0.288675    971

In [ ]:
l = []
for i in range(1,11):
  l.append(df1['index'][i])

l2 = []
for i in l:
  l2.append(df['movie_title'][i])


for i in l2:
  print(i)

reservoir dogs
bandits
16 blocks
killing zoe
mercury rising
mercury rising
lucky number slevin
lucky number slevin
hostage
looper

In [ ]:
n = 'fortress'
m = df[df.movie_title==n].index.values[0]
print(df['genres'][m])
print(df['director_name'][m])
print(df['actor_1_name'][m])
print(df['actor_2_name'][m])
print(df['actor_3_name'][m])
print(df['imdb_score'][m])
print(m)

Action Crime Sci-Fi Thriller
Stuart Gordon
Christopher Lambert
Kurtwood Smith
Clifton Collins Jr.
5.9
3652

In [ ]:
p = 'inception'
q = df[df.movie_title==p].index.values[0]
print(df['genres'][q])
print(df['director_name'][q])
print(df['actor_1_name'][q])
print(df['actor_2_name'][q])
print(df['actor_3_name'][q])
print(df['imdb_score'][q])

Action Adventure Sci-Fi Thriller
Christopher Nolan
Leonardo DiCaprio
Tom Hardy
Joseph Gordon-Levitt
8.8